<!DOCTYPE html>
<!-- This website template was created by: Zachery Bagley -->
<html lang=<"en">
<head>
	<link href="https://fonts.googleapis.com/css?family=Quicksand|Work+Sans&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="css/styles.css">
	<title>Singularity</title>
	<meta charset="utf-8">
</head>

<body>

	<!-- Use the header area for the website name or logo -->
<header>
	<div id="header">
		
		<img src="images/logo.png" alt="logo" class="logo" height="55" width="136">
	
	<!-- Use the nav area to add hyperlinks to other pages within a website -->
		<nav>
				
			<ul class="no-bullets">
				<li><a href="index.html">Gallery</a></li> &nbsp; &nbsp;
				<li><a href="artists.html">Artist Info</a></li> &nbsp; &nbsp;
				<li><a href="visionary.html">What is "Visionary Art"?</a></li> &nbsp; &nbsp;
				<li><a href="history.html">History of Visionary Art</a></li> &nbsp; &nbsp;
				<li><a href="contact.html">Contact Us</a></li>
			</ul>
			
		</nav>
	
	</div>
</header>

	<!-- Use the main area to add the main content of the webpage -->
	<main>
	
			<h1 class="main">Gallery</h1>
			<p class="main">Welcome to The Singularity: An online art gallery for all things visionary and thought provoking!</p><br><br>
		
		<div class="body">
			<div class="gallery">
			
			
				
			</div>
		</div>
			
	</main>
	
	<!-- Use the footer area to add webpage footer content -->
	<footer class="footer">
		<div class="footer">
			&copy; Copyright 2019. All Rights Reserved.<br>
			singularitygallery@info.com
		</div>
	</footer>

	</div>

</body>
</html>